p{
padding:2px;
margin:0px;
}
#main_container{
width:1024px;
height:auto;
margin: auto;
}
.pallet_bg{
background:url(panel_bg.jpg) no-repeat;
padding:0px;
color:#FFFFFF;
}
.button{
background:url(panel_bg.jpg);
}
body {
/* for pull-down menu to work in IE6*/
behavior:url("csshover2.htc");

}

/* pull-down mainmenu css */
.mainmenu{
	float: left;
	width: 100%;
	padding: 0;
}
.mainmenu ul {
	float: left;
	width: 100%;
	list-style: none;
	line-height: 1;
	color:#FFFFFF;
	background: #272523;
	padding: 0;
	border: solid #000000;
	border-width: 1px 0;
	margin: 0 0 1em 0;
}

.mainmenu a, .mainmenu a:visited {
	display: block;
font-family:Arial, Helvetica, sans-serif;font-size:0.8em;font-weight:bold;font-style:normal;text-decoration:underline;
	color: #FFFFFF;
	text-decoration: none;
	padding: 1em 1em;
}
.mainmenu ul ul a{
	width:100%;
	height:100%;
}
.mainmenu ul a{
	width:1%;
}


.mainmenu li  {
	float: left;
	width:95px;
	margin:0;
	padding:0;
	border-right:1px #666666 solid;
}

.mainmenu ul li {float:left; position:relative;  }
.mainmenu ul li a {white-space:nowrap;}
	
.mainmenu li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width:15em;	
	
	background: #272523;
	font-weight: normal;
	border-width: 1px;
	margin: 0;
}

.mainmenu li li {
	width:15em ;
}

.mainmenu li li a{
	width:13em ;
}

.mainmenu li ul  {
	margin: 0;
}
.mainmenu li ul ul {
	margin: -2.8em 0 0 13.5em;
}
.ul_ch, 
.mainmenu li:hover ul ul,
.mainmenu li li:hover ul ul,
.mainmenu li li li:hover ul ul,
.mainmenu li li li li:hover ul ul,
.mainmenu li li li li li:hover ul ul
{
	left: -999em;
}
.mainmenu li:hover ul,
.mainmenu li li:hover ul,
.mainmenu li li li:hover ul,
.mainmenu li li li li:hover ul,
.mainmenu li li li li li:hover ul
{
	left: auto;
}
.mainmenu li:hover>ul.ul_ch   
{
	left: auto;
}

.mainmenu li:hover{
	background: #4F4A46;
}

.mainmenu li:hover a,.mainmenu li:hover a:visited,.mainmenu li:hover a:hover,.mainmenu li a:hover{
	color:#808080;
}
.mainmenu li:hover li a, .mainmenu li li:hover li a, 
.mainmenu li li li:hover li a, .mainmenu li li li li:hover li a,
.mainmenu li:hover li a:visited, .mainmenu li li:hover li a:visited, 
.mainmenu li li li:hover li a:visited, .mainmenu li li li li:hover li a:visited
{
	color:#FFFFFF;
}
.mainmenu li li:hover, .mainmenu li li li:hover, 
.mainmenu li li li li:hover , .mainmenu li li li li li:hover , .mainmenu li li li li li li:hover 
{
	background: #4F4A46;
	z-index:9999;
}
.mainmenu li li:hover a,.mainmenu li li li:hover a, 
.mainmenu li li li li:hover a, .mainmenu li li li li li:hover a
{
	color: #FFFFFF; 
}

.mainmenu ul ul a, .mainmenu ul ul a:visited,
.mainmenu li li a, .mainmenu li li a:visited
{
	color: #FFFFFF;
}
.mainmenu ul ul a:hover,
.mainmenu li:hover li:hover a,.mainmenu li:hover li:hover a:visited ,
.mainmenu li:hover li:hover li:hover a,.mainmenu li:hover li:hover li:hover a:visited,
.mainmenu li:hover li:hover li:hover li:hover a,.mainmenu li:hover li:hover li:hover li:hover a:visited ,
.mainmenu li:hover li:hover li:hover li:hover li:hover a,.mainmenu li:hover li:hover li:hover li:hover li:hover a:visited,
.mainmenu li:hover li:hover li:hover li:hover li:hover li:hover a,.mainmenu li:hover li:hover li:hover li:hover li:hover li:hover a:visited{
	color: #FFFFFF;
}
.mainmenu li:hover li:hover li a,.mainmenu li:hover li:hover li a:visited ,
.mainmenu li:hover li:hover li:hover li a,.mainmenu li:hover li:hover li:hover li a:visited,
.mainmenu li:hover li:hover li:hover li:hover li a,.mainmenu li:hover li:hover li:hover li:hover li a:visited,
.mainmenu li:hover li:hover li:hover li:hover li:hover li a,.mainmenu li:hover li:hover li:hover li:hover li:hover li a:visited{
	color: #FFFFFF;
}
.strike-through{
text-decoration:line-through;
color:#FF0000;
}
#menu_table{
border:thin dotted 1px;
}
#menu_table td
{
width:70px;
border:thin 2px #66CCFF ;
}
a{
text-decoration:none;
color:#000000;
}
#menu ul{
color:#FFFFFF;
border:1px solid;
list-style:none;
list-style-type:none;
}
#menu a{
text-decoration:none;
color:#FFFFFF;
}
#menu a:hover{
text-decoration:none;
color:#FFFFFF;
}
#menu li{
color:#FFFFFF;
list-style-type:none;
padding:10px;
float:left;
width:65px;
}
#menu li:hover{
list-style-type:none;
padding:10px;
float:left;
width:65px;
}
.input_style{
font-style:italic;
font:bold;
width:150px;
height:20px;
border:1px #000066 dotted;
}
.input_style2{
font-style:italic;
font:bold;
width:150px;
height:20px;
border:1px #FF0000 solid;
}
#header
{
color:#FFFFFF;
padding-left:25px;
padding-right:25px;
height:65px;
vertical-align:middle;
}
.theme_color{
background:#EB96AD;
}
.theme_color2{
background:#972644;
color:#FFFFFF;
}
.theme_color2 li{
background:#C88404;
color:#FFFFFF;
}.theme_color li:hover{
background:#EB96AD;
color:#000000;
}
.theme_color3{
background:#EB96AD;
}