
.strike-through{
text-decoration:line-through;
color:#FF0000;
}
#menu_table{
border:thin dotted 1px;
}
#menu_table td
{
width:70px;
border:thin 2px #66CCFF ;
}
a{
text-decoration:none;
color:#000000;
}
#menu ul{
color:#FFFFFF;
border:1px solid;
list-style:none;
list-style-type:none;
}
#menu a{
text-decoration:none;
color:#FFFFFF;
}
#menu a:hover{
text-decoration:none;
color:#FFFFFF;
}
#menu li{
color:#FFFFFF;
list-style-type:none;
padding:10px;
float:left;
width:65px;
}
#menu li:hover{
list-style-type:none;
padding:10px;
float:left;
width:65px;
}


.theme_color{
background:#FFFFFF;
}
.theme_color2{
background:#F0F0E9;
color:#000000;
}
.theme_color2 li{
background:#C88404;
color:#FFFFFF;
}.theme_color li:hover{
background:#F0F0E9;
color:#000000;
}
.theme_color3{
background:#FFFFFF;
color:#000000;
}