<link rel="stylesheet" href="../css/style.css" media="screen,projection" />

<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style></head>

<body>


<div class="mainmenu" style="width:100%; top:45px; position:fixed;">

<ul>
      <li class="li_nc" ><a href="admin_home.php" target="_self" >Dashboard</a></li>
      <li class="li_hc"><a href="#" target="_self" >&nbsp;Catalog</a>
        <ul class="ul_ch">
         <li class="li_nc"><a href="category.php" target="_self" >Categories</a></li>
         <li class="li_nc"><a href="products.php" target="_self" >Products</a></li>
         <li class="li_nc"><a href="brands.php"  >Manufactures</a></li>
         <li class="li_nc"><a href="information.php">Information</a></li>
      </ul></li>
      <!--<li class="li_hc"><a href="#" target="_self" >&nbsp;Extensions</a><ul class="ul_ch">
         <li class="li_nc"><a href="#" target="_self" >Modules</a></li>
         <li class="li_nc"><a href="#" target="_self" >Shipments</a></li>
         <li class="li_nc"><a href="#"  >Payments</a></li>
         <li class="li_nc"><a href="#"  >Order totals</a></li>
         <li class="li_nc"><a href="#"  >Product feeds</a></li>
      </ul></li>-->
      <li class="li_hc"><a href="#" target="_self" > &nbsp;&nbsp;&nbsp;&nbsp;Sales</a>
        <ul class="ul_ch">
         <li class="li_nc"><a href="admin_home.php" target="_self" >Orders</a></li>
         <li class="li_nc"><a href="customers.php"  >Costumers</a></li>
         <!--<li class="li_nc"><a href="#"  >Costumer groups</a></li>
         <li class="li_nc"><a href="#"  >Coupens</a></li>-->
      </ul></li>
      <li class="li_hc"><a href="#" target="_self" >&nbsp;&nbsp;&nbsp;System</a>
        <ul class="ul_ch">
         <li class="li_nc"><a href="store_config.php" target="_self" >Settings</a></li>
         <!--<li class="li_hc"><a href="#" target="_self" >Users</a><ul class="ul_ch">
            <li class="li_nc"><a href="#"  >Users</a></li>
            <li class="li_nc"><a href="#"  >User groups</a></li>
         </ul></li>-->
         <li class="li_hc"><a href="#"  >Localisation</a><ul class="ul_ch">
            <li class="li_nc"><a href="currency_config.php"  >Currencies</a></li>
            <!--<li class="li_nc"><a href="#"  >Tax classes</a></li>-->
            <li class="li_nc"><a href="stock_status.php"  >Stock statuses</a></li>
            <li class="li_nc"><a href="#"  >Order statuses</a></li>
         </ul></li>
      </ul></li>
      <li class="li_hc"><a href="#" target="_self" >&nbsp;&nbsp;Reports</a>
        <ul class="ul_ch">
         <li class="li_nc"><a href="sales_report.php"  >Sales</a></li>
         <li class="li_nc"><a href="product_viewed.php"  >Products viewed</a></li>
         <li class="li_nc"><a href="product_purchased.php"  >Products purchased</a></li>
      </ul></li>
      <li class="li_hc"><a href="#" target="_self" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Help</a>
        <ul class="ul_ch">
         <li class="li_nc"><a href="#"  >Home page</a></li>
         <li class="li_nc"><a href="#"  >Documentation</a></li>
      </ul></li>
      <li class="li_nc" ><a href="logout.php" target="_self" >Logout</a></li>
      <li class="li_nc" ><a href="..\index.php" target="_blank" >Store front</a></li>
      
</ul>


</div>

